header{ 
    grid-area:cabe ;
}
aside{
    grid-area: brac;
}
main{
    grid-area: prin;
}
footer{ 
    grid-area: roda;
}
header, main, footer{
    background-color: rgb(202, 149, 149);
}
header{
    text-align: center;
    background-image: linear-gradient(to right, rgba(255, 96, 149, 0.589) , rgba(255, 112, 134, 0.918));
    display: flex;
    position: relative;
}
.logo{
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 100%;
}
.logo-intagram-fundo-transparenter{
    max-width: 15rem;
    max-height: 15rem;
    border-radius: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(180, 100%, 77%);
  }
body{
    display: grid;
    grid-template-areas: 
    "cabe cabe cabe"
    "brac prin prin"
    "roda roda roda";
    grid-gap: 5px;
    grid-template-columns: 22% auto;
    grid-template-rows: 1000px auto;
}
.caixa_mae{
    border: 2px hsl(350, 100%, 84%); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    border-radius: 10px;
    width: 300px;
    height: 350px;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-shadow: 3px 6px 11px black;
    transition: 3s;
    background-color: hsl(350, 100%, 84%);
}
.card img{
    width: 200px;
    border-radius: 10px;
    height: 160px;
    align-items: center;
}
.card a{
    display: block;
    background-color: rgb(255, 111, 176);
    width: 100px;
    height: 70px;
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 20px;
    margin: 20px;
    text-align: center;
    padding: 5px;
}
main{
    text-align: justify; 
    background-color: rgba(201, 126, 245, 0.945);
    margin: 2rem; 
    padding: 2rem; 
    color: rgb(0, 0, 0);
}
footer{
   width: 40px; 
   height: 20px;
   
}


